@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';


.table {
    width: 90%;
    margin-left: 5%;
    margin-top: 1%;

    &__btn:hover {
        background-color: #0b5ed7 !important;
    }
}

@include mediumTablet {
    .table {
        min-width: 100%;
        
    }
}