@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

th {
    background-color: #F5AB00 !important;
    color: #fff !important;
}

td {
    background-color: #FFD639 !important;

}

thead {
    background-color: red;
  }

.table {
    &__container {
        overflow-y: auto;
        border-radius: 10px;
    }

    padding: 10px;

    &__btn:hover {
        background-color: #0b5ed7 !important;
    }
}


.table__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
